@import "./variables";
@import "./helpers";
@import "./header";
@import "./main";
@import "./footer";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media (max-width: 768px) {
  header {
    .navbar {
      .hamburger {
        display: inline-block;
      }
      justify-content: space-between;
      &__menu {
        display: none;
      }
    }
    .mobile {
      width: 100%;
      position: absolute;
      display: block;

      &.hide {
        display: none;
      }

      &__nav {
        background-color: $white;
        text-align: center;

        border-radius: 5px;

        &__auth {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          border-top: 2px solid $mobileNavBg;
          margin-top: 20px;
        }

        .navbar__link {
          color: $headings;
          margin: 20px;

          img {
            position: initial;
          }
        }

        &__dropdown {
          ul {
            display: none;
          }
          &.open {
            img {
              transform: rotate(180deg);
            }
            ul {
              display: block;
            }
            .navbar__link {
              opacity: 0.7;
            }
          }
        }

        .sub-menu {
          background-color: $mobileNavBg;
          padding: 20px;
          border-radius: 5px;

          li:not(:first-child) {
            margin-top: 20px;
          }

          a {
            color: $bodyCopy;
            opacity: 0.8;
          }
        }
      }
    }
  }

  main {
    .design {
      display: grid;
      grid-template-columns: 1fr;

      img {
        position: inherit;
        width: 100%;
        height: auto;
        grid-row: 2 / 3;
        content: url("../images/illustration-editor-mobile.svg");
      }
      &__content {
        grid-template-columns: 1fr;
        width: 100%;
        text-align: center;
      }
    }

    .state {
      height: 800px;
      margin-bottom: 150px;

      &__content {
        grid-template-columns: 1fr;
        text-align: center;
      }
      &__background {
        height: 650px;
        img {
          top: -50%;
          left: -20%;
          width: 150%;
        }
      }

      img {
        object-position: 0;
      }
    }

    .tooling {
      display: flex;
      flex-direction: column;

      img {
        position: initial;
        width: 100%;
        height: auto;
      }

      &__content {
        grid-template-columns: 1fr;
        text-align: center;
        padding: 0;
        min-height: auto;
      }
    }
  }

  footer {
    .navbar {
      .flex {
        flex-direction: column;
        align-items: center;
        text-align: center;

        img {
          margin-bottom: 50px;
        }
      }
      ul > li {
        margin-top: 30px;
      }
    }
  }
}
